### pd.get_dummies(df['feature'])
> new_df=pd.concat( [df, pd.get_dummies(df['features'])],  axis=1 )

> new_df2=df.join(pd.get_dummies(df['features']))

In [11]:
##my dummy variables test
# Create a dataframe

import pandas as pd
raw_data = {'first_name': ['Jason', 'Molly', 'Tina', 'Jake', 'Amy'], 
        'last_name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze'], 
        'sex': ['male', 'female', 'male', 'female', 'female']}
df = pd.DataFrame(raw_data, columns = ['first_name', 'last_name', 'sex'])
df

  first_name last_name     sex
0      Jason    Miller    male
1      Molly  Jacobson  female
2       Tina       Ali    male
3       Jake    Milner  female
4        Amy     Cooze  female

In [9]:
pd.get_dummies(df['sex'])

   female  male
0       0     1
1       1     0
2       0     1
3       1     0
4       1     0

In [6]:
#my
newdf=pd.concat([df, pd.get_dummies(df['sex'])], axis=1)
newdf

  first_name last_name     sex  female  male
0      Jason    Miller    male       0     1
1      Molly  Jacobson  female       1     0
2       Tina       Ali    male       0     1
3       Jake    Milner  female       1     0
4        Amy     Cooze  female       1     0

In [7]:
df_new = df.join(pd.get_dummies(df['sex']))
df_new

  first_name last_name     sex  female  male
0      Jason    Miller    male       0     1
1      Molly  Jacobson  female       1     0
2       Tina       Ali    male       0     1
3       Jake    Milner  female       1     0
4        Amy     Cooze  female       1     0

* mean = df['feature'].mean()
* std = df['feature'].std()
### df.loc[:, 'feature'] = (df['feature'] - mean)/std   # standardization 
#all  row for  each  feature: